/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.03);
  font-family: "Source Code Pro", "Roboto Mono", "Consolas", "Courier Prime",
    "Courier", monospace;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

elm-canvas {
  display: block;
  background-color: white;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.07);
}
